.main-container{
    background-color: #ffffff;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 2px 4px 12px #00008033;
    padding: 24px;
}

.question-container {
    background-color: #eef5ff;
    border-left: 5px solid #0000ff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 24px;
}
.question-number {
    font-size: 0.9rem;
    font-weight: bold;
    color:#3b82f6;
    margin-bottom: 15px;
}
.question-text {
    font-size: 1.1rem;
    margin-bottom: 20px;
    font-weight: bold;
}
.answer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
.option-btn{
    border-radius: 8px;
    padding: 14px 16px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center
}
.option-btn:hover{
    border: 1.9px solid #4489f7;
    background-color:#f0f7ff;
}
.option-num {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #d6eaf8;
    color: #0707c5;
    border-radius: 50%;
    margin-right: 12px;
    flex-shrink: 0;
}
.option-btn:hover .option-num {
    background-color: #3a3afc;
    color: #ffffff;
}

/*正解エフェクト*/
#correct-effect {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 70vh;
    
    pointer-events: none;
    opacity: 0;
    color: #ff0000;
}

#correct-effect.show{
    animation: pop 0.6s ease-out;
}

@keyframes pop {
    0% {
        transform:translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    50% {
        transform:translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }
    100% {
        transform:translate(-50%, -50%) scale(1)
    }
}
